* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
}

.App {
    text-align: center;
}

.App-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    z-index: 100;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.main-content {
    /* Full height minus header */
    height: 100vh;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    background: linear-gradient(to bottom, #111, #330000);
    padding-top: 60px;
    /* Offset height for fixed header */
}

.search-section {
    text-align: center;
}

.main-logo {
    width: 200px;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
}

.search-box {
    margin: 20px 0;
}

.search-box input {
    padding: 10px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-btn {
    padding: 10px;
    height: 50px;
    width: 50px;
    background-color: #e50914;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-btn i {
    color: white;
}

.view-full-site-btn {
    padding: 15px 30px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
}